<div class="navbar">
  <%= link_to "Home", root_path%>
  <%= link_to "About", about_path%>
  <div class="dropdown">
    <button class="dropbtn">Services</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <%= link_to "Fullstack Web Development", fullstack_path, class: "dropdown-item" %>
      <%= link_to "Financial Analysis & Modelling", finance_path, class: "dropdown-item" %>
      <%= link_to "Consulting", consulting_path, class: "dropdown-item" %>
    </div>
  </div>
  <%= link_to "GitHub", "https://github.com/dfhowitt", target: "_blank"%>
  <%= link_to "LinkedIn", "https://www.linkedin.com/in/daniel-howitt-96261810b/", target: "_blank"%>
</div>
